@import "../../../../style/variables";

.report-page{

  .borrow-btn-icon{
    font-size: 32px;
    color: $_pm-base-color;
  }

  .refresh-text {
    color: $_pm-default-color;
    font-size: 16px;
    line-height: 22px;
    margin-left: 11px;
  }

  .el-dialog__body{
    padding: 0 0 20px 0;
    min-height: 550px;
    max-height: 600px;
    overflow-y: scroll;
  }

  .time {
    font-size: 13px;
    color: #999;
  }

  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
    cursor: pointer;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both
  }
}
