@import "../../../../style/variables";

.materials-page {
  .side{
    min-height: 550px;
    background-color: #fff;
    margin-top: 20px;
    padding: 20px 10px;
    border-radius: 5px;
  }
  .group{
    margin-right: 20px;
    .el-button{
      margin: 0 10px 15px 0;
    }
    .el-tree-node__content{
      height:32px;
    }
  }
  .groupDialog{
    .el-form-item{
      margin-bottom: 0;
    }
  }
  .pis-icon{
    margin-right: 15px;
    .el-icon-plus{
      color: #01d0b0;
    }
    .el-icon-refresh{
      color: #ff6f6f;
    }
  }
  .materials{
    .pis-page-size .size-select input{
      background: #ffffff;
    }
    .el-pagination{
      padding: 20px 0 0 0;
    }
  }
}
