<!DOCTYPE html>
<html>
<head>
  <title>标签打印模版</title>
  <style type="text/css">
    *{
      margin: 0;
      padding: 0;
    }
    #tag-wrapper{
      text-align: center;
    }
    #pathology-id, #production-id{
      font-weight: 600;
    }
    #qrcord{

    }
    #hospital-name{
      font-size: 14px;
    }
  </style>
</head>
<body>
<div id="tag-wrapper">
  <p id="pathology-id">B20180912001</p>
  <p id="production-id">#01</p>
  <p id="dyeing-name">HE</p>
  <img src="qrcord.jpg" id="qrcord" width="105" />
  <p id="hospital-name">杭州智团病理中心</p>
</div>
</body>
</html>
