@import "../../../../style/variables";

.follow-page{
  .edit-specimen {
    color: $_pm-default-table-color;
    cursor: pointer;
    &:hover {
      color: $_pm-base-color;
    }
  }
  .delete-specimen {
    @extend .edit-specimen;
    margin-left: 35px;
    &:hover {
      color: $_pm-fail-color;
    }
  }
  .normal-specimen-table{
    .pathology-id{
      color: #01d0b0;
      cursor: pointer;
      text-decoration: none !important;
      &:hover{
        text-decoration: underline !important;
      }
    }
    .el-pagination{
      margin: 0 auto;
      padding: 20px 0;
      .el-pager li,.btn-prev,.btn-next{
        color: #969696;
        background-color: #ffffff;
        border-radius: 6px;
        border: 1px solid rgb(226,226,226);
        font-weight: 500;
      }
    }
  }
  .el-dialog--center .el-dialog__body{
    padding: 20px;
    max-height: 500px;
    overflow-y: scroll;
  }
  .record-form{
    border-top: 1px dashed #cccccc;
    padding-top: 10px;
    .el-form-item{
      margin-bottom: 16px;
    }
  }
  .record-list{
    padding-bottom: 10px;
  }
  .record-list li{
    margin: 5px 0;
  }
  .delete-btn-icon{
    font-size: 32px;
    vertical-align: middle;
    color: #01d0b0;
    margin-right: 5px;
  }
  .refresh-text {
    color: $_pm-default-color;
    font-size: 16px;
    line-height: 22px;
    margin-left: 11px;
  }
}
