/*@import "../../../../style/variables";
$breakpoints: (
  'sm': 'only screen and ( max-width: 1200px)',
) !default;

@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);

  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }
  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}
.doperate-page {
  position: relative;
  padding: 30px 0 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  @include respond-to(sm) {
    width: 900px;
  }
  .fixed-head{
    position: fixed;
    top: 40px;
    width: 1000px;
    margin: 0 auto;
    background: #f8f8f8;
    z-index: 2;
    height: 60px;
    @include respond-to(sm) {
      width: 900px;
    }
  }
  .back-icon {
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
    box-sizing: border-box;
    i {
      font-size: 24px;
      color: $_pm-base-color;
    }
  }
  .nav-top{
    .el-tabs__header {
      margin: 0;
      border: none;
    }
    .el-tabs--card > .el-tabs__header {

    }
    .el-tabs__nav {
      border: none !important;
      .el-tabs__item {
        padding: 0 28px;
        border: none !important;
        color: $_pm-default-table-color;
        &:hover {
          color: $_pm-base-color;
        }
        &.is-active {
          background: linear-gradient(90deg, rgba(1, 207, 177, 1), rgba(1, 208, 176, 1));
          border-radius: 21px;
          color: #fff;
          height: 36px;
          line-height: 36px;
        }
      }
    }
  }

  .info-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 22px 22px 0;
    border-radius: 6px;
  }
  .info-title {
    font-size: 16px !important;
    color: $_pm-tree-color;
    .el-form-item__content {
      line-height: 1;
    }
    hr {
      height: 2px;
      background-color: $_pm-base-color;
      width: 44px;
      border: none;
      margin: 10px 0 0 6px;
    }
  }
  .el-textarea.is-disabled .el-textarea__inner {
    background-color: #fff;
    color: $_pm-default-table-color;
  }
  .el-input.is-disabled .el-input__inner {
    background-color: #fff;
    color: $_pm-default-table-color;
  }

  .specimen-img-container {
    max-width: 220px;
    height: 220px;
    img {
      max-width: 200px;
      height: 200px;
    }
  }

  .specimen-name {
    font-size: 16px;
    color: $_pm-base-color;
  }

  .el-dialog__body {
    padding: 10px 20px;
    .el-transfer{
      display: flex;
      justify-content: center;
      align-items: center;
      .el-transfer-panel{
        width: auto;
      }
    }
  }
  .el-dialog__header {
    border-bottom: 1px solid $_pm-default-border-color;
  }
  .close-dialog {
    color: $_pm-fail-color;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
  }
  .report {
    padding: 15px 0;
  }
  .margin-bottom-default {
    margin: 0 0 10px;
  }
  .operate-dialog-header {
    label {
      margin: 0 15px 0 0;
      color: $_pm-default-table-color;
      .header-title {
        color: $_pm-tree-color;
      }
    }
  }
  .pdf-dialog {
    .el-dialog{
      display: flex;
      flex-direction: column;
      .el-dialog__body {
        flex: 1;
      }
    }
  }
  .pis-title{
    margin-bottom: 10px;
  }
  .v-line{
    margin: 0 5px;
    height: 400px;
    width: 2px;
    background-color: $_pm-default-border-color;
  }
  .advice-content{
    padding: 10px;
    min-height: 117px;
    height: 117px;
    color: $_pm-default-table-color;
    cursor: not-allowed;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    .el-tag{
      margin: 0 10px;
    }
  }
  .doperate-item{
    width: 1000px;
    @include respond-to(sm) {
      width: 900px;
    }
  }
  .takespecimen-template{
    border:1px solid #ddd;
    padding: 10px;
    position: relative;
    .el-form-item{
      margin: 20px 0;
    }
    .specimen-name-input{
      width: 300px;
    }
  }
}*/


