$_pm-default-table-color: #7b7b7b;
$_pm-default-table-line-color: #f8f8f8;
$_pm-default-color: #6f6f6f;
$_pm-default-pagination-color: #969696;
$_pm-default-dark-color: #454545;
$_pm-default-light-color: #adadad;
$_pm-base-color: #01d0b0;
$_pm-base-dark-color: #05584b;
$_pm-fail-color: #ff6f6f;
$_pm-default-border-color: #ebeef5;
$_pm-tree-color: #222222;
