@import "../../../../style/variables";

.account-main {
  width: 400px;
  margin: 50px auto;
  .user-img {
    width: 110px;
    height: 110px;
  }
  .user-name {
    margin: 17px 0 0;
    font-size: 20px;
    color: $_pm-default-dark-color;
  }
  .el-form {
    margin: 47px 0 0;
    width: 100%;
  }
  .el-form-item__label {
    color: $_pm-tree-color;
  }
  .el-form-item__content {
    color: $_pm-default-table-color;
  }
  .modify-password {
    padding: 0 0 0 10px;
  }
  .el-input__suffix-inner {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }
  .el-icon-eye {
    width: 18px;
    height: 14px;
  }
}
